.container {
  display: flex;
}
aside {
  width: 30%;
  padding: 20px 1.25%;
  box-sizing: border-box;
  position: relative;
}

section {
  width: 70%;
  padding: 20px 10px;
  box-sizing: border-box;
  overflow-y: auto;
}

@media screen and (max-width: 426px) {
  .container {
    flex-direction: column;
  }

  aside {
    width: 100%;
  }

  section {
    width: 100%;
  }
}
